header{
    display: flex;
    justify-content: center;
    
}

header img{
    width: 150px;
    height: 175px;
}

section img{
    width: 300px;

}

.container{
    display: flex;
    flex-direction: column;    
    margin-top: 50px;
    font-size: 20px;
    text-align: justify;
    padding: 60px;
    background-color: rgb(0, 153, 255);    
}

.box{
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    margin-top: 10px;
}

.yakuza{
    background-color: black;
    width: 500px;

}


#rodape{
    background-color: black;
    display: flex;
    justify-content: center;
    height: 100px;
    line-height: 40px;
    color: white;
    font-size: 20px;
    margin-top: 30px;
}

#title{
    font-size: 45px;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 35px;
}