*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: center;
    
}

header img{
    width: 150px;
    height: 175px;
}

section img{
    width: 300px;

}

footer{
    margin: 0;
    padding: 0;
}

p{
    margin-top: 15px;
}

/*YAKUZA 0*/

.container-0{
    display: flex;
    flex-direction: column;    
    margin-top: 50px;
    font-size: 20px;
    text-align: justify;
    padding: 60px;
    background-color: rgb(0, 153, 255);    
}

/*Yakuza KIWAMI*/

.container-KIWAMI{
    display: flex;
    flex-direction: column;    
    margin-top: 50px;
    font-size: 20px;
    text-align: justify;
    padding: 60px;
    background-color: rgb(117, 3, 3); 
    color: white;
}

/*Yakuza KIWAMI 2*/

.container-KIWAMI-2{
    display: flex;
    flex-direction: column;    
    margin-top: 50px;
    font-size: 20px;
    text-align: justify;
    padding: 60px;
    background-color: rgb(206, 199, 0); 
    color: black;
}

/*Yakuza 3*/

.container-3{
    display: flex;
    flex-direction: column;    
    margin-top: 50px;
    font-size: 20px;
    text-align: justify;
    padding: 60px;
    background-color: rgb(177, 177, 177); 
    color: black;
}

/*Yakuza 4*/

.container-4{
    display: flex;
    flex-direction: column;    
    margin-top: 50px;
    font-size: 20px;
    text-align: justify;
    padding: 60px;
    background-color: rgb(192, 1, 77); 
    color: white;
}

/*Yakuza 5*/

.container-5{
    display: flex;
    flex-direction: column;    
    margin-top: 50px;
    font-size: 20px;
    text-align: justify;
    padding: 60px;
    background-color: rgb(98, 43, 1); 
    color: white;
}

/*Yakuza 6*/

.container-6{
    display: flex;
    flex-direction: column;    
    margin-top: 50px;
    font-size: 20px;
    text-align: justify;
    padding: 60px;
    background-color: rgb(9, 3, 170); 
    color: white;
}

/*Yakuza Like a Dragon*/

.container-LaD{
    display: flex;
    flex-direction: column;    
    margin-top: 50px;
    font-size: 20px;
    text-align: justify;
    padding: 60px;
    background-color: rgb(240, 193, 6); 
    color: black;
}

/*Yakuza GAIDEN*/

.container-GAIDEN{
    display: flex;
    flex-direction: column;    
    margin-top: 50px;
    font-size: 20px;
    text-align: justify;
    padding: 60px;
    background-color: rgb(237, 237, 237); 
    color: black;
}

/*Yakuza INFINITE WEALTH*/

.container-IW{
    display: flex;
    flex-direction: column;    
    margin-top: 50px;
    font-size: 20px;
    text-align: justify;
    padding: 60px;
    background-color: rgb(255, 205, 118); 
    color: black;
}

/*Like a Dragon Pirate Yakuza*/

.container-PY{
    display: flex;
    flex-direction: column;    
    margin-top: 50px;
    font-size: 20px;
    text-align: justify;
    padding: 60px;
    background-color: rgb(78, 0, 113); 
    color: white;
}

.box{
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    margin-top: 10px;
}

.yakuza{
    background-color: black;
    width: 30%;
    padding: 30px;
}


#rodape{
    background-color: black;
    display: flex;
    justify-content: center;
    height: 100px;
    line-height: 40px;
    color: white;
    font-size: 20px;
    margin-top: 30px;
}

#title{
    font-size: 45px;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 35px;
}